<ion-content padding>
  <div layout vertical center>
    <ion-slides #slides pager flex>
      <ion-slide *ngFor="let slide of introSlides">
        <h3 class="font-thin" [innerHTML]="slide.title"></h3>
        <img [src]="slide.image">
      </ion-slide>
    </ion-slides>

    <div class="text-center">
        <div padding-top *ngIf="isLoging">
          <ion-spinner name="crescent"></ion-spinner> 
        </div> 
      <div *ngIf="!isLoging">
        <button ion-button round class="btn-tinder-login m-b-sm" (click)="login()" icon-start>
          <ion-icon name="logo-facebook"></ion-icon>
          {{ 'WELCOME.LOGINFACEBOOK' | translate }}  
        </button>
      </div>
     <!--
       <div>
        <button ion-button round small color="muted" outline (click)="goToSwipe()">LOG IN WITH PHONE NUMBER</button>
      </div>
    -->

      <div class="wrapper text-muted">
        <p>{{ 'WELCOME.NOTSHARINGONFACEBOOK' | translate }}
          <br>
          {{ 'WELCOME.READACCEPT' | translate }} <span class="text-u-l">{{ 'WELCOME.THERMSOFSERVICE' | translate }}</span>
        </p>
      </div>
    </div>
  </div>
</ion-content>